%h2 Listed apartments!
.last_updated
  Last updated at
  = Time.now
.link
  Link: 
  = ApartmentSearch.url

- @apartments.each do |a|
  %h1
    %a{:href => a.link} LINK
  %h1
    = a.address
  %h3
    = a.price
  %h3
    = a.room_count
  %h3
    = a.entry_date
  %h3
    = a.floor


